.section-title {
  font-size: 2.6em;
    margin-bottom: 40px;
    color: #cfa7ff;
    text-align: center;
}


.vertical-timeline span {
    color: white;
    font-family: 'Courier Prime', monospace;
}

.vertical-timeline p {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element p {
    color: rgb(39, 40, 34);
}


.vertical-timeline-element h3 {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element h4 {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element span {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element .vertical-timeline-element-date {
    color: white;
}

.svg-inline--fa {
    color: white;
}

.floating_timeline {
  padding-top: 1500px;
  position: absolute;
  left: 1100px;
  width: 200px;
  z-index: 1;
  animation: floatDR 12s ease-in-out infinite;
}

@keyframes floatDR {
  0%   { transform: translate(0px, 0px); }
  12.5% { transform: translate(20px, -30px); }
  25%  { transform: translate(70px, 0px); }
  37.5% { transform: translate(20px, 30px); }
  50%  { transform: translate(0px, 0px); }
  62.5% { transform: translate(-80px, -30px); }
  75%  { transform: translate(-140px, 0px); }
  87.5% { transform: translate(-80px, 30px); }
  100% { transform: translate(0px, 0px); }
}

@media screen and (max-width: 1170px) {
    .vertical-timeline-element .vertical-timeline-element-date {
        color: rgb(39, 40, 34);
    }

}